<div class="list" ng-controller='UserDetailsController'>
	<div>UserDetails Controller</div>
	<form>
		<!--<div class="row">-->
			<!--<div class="small-12 columns">-->
				<!--<input ng-model="id" type="text" placeholder="data">&lt;!&ndash;have user input data&ndash;&gt;-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="text-center">-->
			<!--<button ng-click="setData()" class="button tiny info">Set Data</button>&lt;!&ndash;trigger post&ndash;&gt;-->
		<!--</div>-->
		<div class="text-center">
			<button ng-click="setData()" class="button tiny info">Set Data</button><!--trigger post-->
		</div>
		id: {{user._id}}<!--display result-->
	</form>
	user:{{user}}


</div>
